@media screen and (max-width:576px) {
    #navbar {
        margin: 40px 20px;
    }

    #habit,
    .banner,
    #run-extra {
        margin: 20px;
    }

    .nav-items {
        display: none;
    }

    .hamburger {
        display: block;
        color: var(--secondary-color);
    }

    .banner {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-container {
        width: 380px;
    }

    .image-up {
        top: 60px;
        left: 190px;
    }

    .image-bottom {
        top: -230px;
        left: 10px;
    }

    .section-title {
        font-size: 2rem;
    }

    .habit-image-container,
    .run-container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .habit-img {
        width: 240px;
    }

    .run-container-1,
    .run-container-2 {
        width: 100%;
    }

    .run-container button {
        width: 100%;
    }

    #run-extra {
        margin-top: 70px;
    }

    .bmi-calculation-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: 0px;
    }

    .bmi-title-description {
        width: 353px;
        margin-bottom: 10px;
    }

    .bmi-calculation,
    .bmi-chart {
        width: 100%;
        padding: 20px;
    }

    #team {
        margin: 20px;
    }

    .team-title-description {
        width: 310px;
        margin-bottom: 50px;
    }

    .team-content-container {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }

    .team-content {
        width: 350px;
    }

    .team-content img {
        width: 100%;
    }
}