/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

/* Universal */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body styles */
body {
    font-family: 'Miama', sans-serif;
    font-family: "Inter", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);

}


/* Shared Style */
:root {
    --primary-color: rgb(230, 83, 60);
    --secondary-color: rgb(255, 255, 255);
    --tertiary-color: rgba(255, 255, 255, 0.5);
    --bg-color: rgb(230, 83, 60);
}

.btn {
    background-color: var(--bg-color);
    border-radius: 2.875rem;
    padding: 12px 20px;
    font-weight: 600;
    color: var(--secondary-color);
    cursor: pointer;
}
.btn-primary {
    background-color: var(--bg-color);
    border-radius: 2.875rem;
    padding: 16px 60px;
    font-weight: 600;
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
}
.btn-secondary {
    background-color: var(--bg-color);
    border-radius: 2.875rem;
    padding: 16px 40px;
    font-weight: 600;
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
}

.btn-tertiary {
    border: 1px solid white;
    border-radius: 2.875rem;
    padding: 16px 40px;
    font-weight: 600;
    background-color: black;
    color: white;
    margin-left: 14px;
    cursor: pointer;
}

.section-content {
    max-width: 670px;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.section-title {
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: 900;
}

.section-description {
    color: var(--tertiary-color);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 35px;
}


/* Nav Styles */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 57px 190px 10px 190px;
}

#navbar ul {
    display: flex;
    gap: 3rem;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 16px 24px 16px 4px;

}

#navbar ul li {
    list-style: none;

}

.shape {
    font-family: 'Miama';
    font-weight: 400;
    font-style: italic;
    line-height: 0px;
}

#navbar li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.125rem;
    font-weight: 400;
    text-align: left;
}

.nav-title {
    color: var(--primary-color);
    font-size: 2.25rem;
    font-weight: 800;
    text-align: left;
}

.hamburger {
    display: none;
}

/* Banner Style */
.banner {
    color: white;
    display: flex;
    gap: 65px;
    justify-content: center;
    align-items: center;

}

.banner-container {
    width: 600px;
    margin-top: 0px;
}

.banner-title {
    color: var(--secondary-color);
    font-size: 4.857rem;
    font-weight: 900;
    text-align: left;
}

.banner-description {
    color: var(--tertiary-color);
    font-size: 1rem;
    text-align: left;
    margin-top: 28px;
    margin-bottom: 28px;
}

.banner-img {
    width: 352px;
}

.banner-image-container img {
    width: 100%;
}

.banner-img-title-1 {
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 5px;
}

.banner-img-title-2 {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 5px;
}

.banner-img-description {
    color: var(--tertiary-color);
    font-size: 1rem;
}

.banner-image-container {
    position: relative;
}

.image-up {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 200px;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 150px;
    left: 240px;
}

.image-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 200px;
    padding: 20px 10px;
    text-align: center;
    position: relative;
    top: -160px;
    left: -100px;
}

.play-button {
    background-color: var(--bg-color);
    padding: 10px 15px;
    border-radius: 50%;
}

/* Habit Styles */
#habit {
    max-width: 1044px;
    margin: 0 auto;
}

.habit-image-container {
    display: flex;
    margin-top: 50px;
}

.habit-img {
    width: 25%;
    text-align: center;
}

.habit-img .image-title {
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;

}

.habit-img img {
    border-radius: 50%;
}

.habit-img .image-description {
    color: var(--tertiary-color);
    font-size: 1rem;
    font-weight: 400;

}

/* Run-extra Syles */
#run-extra {
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.run-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 165px;
}

.run-container-1,
.run-container-2 {
    width: 45%;
    flex: 1;
}

.run-container-2 img {
    width: 100%;
    border-radius: 1rem;
}

/* BMI Style */
.bmi-title-description {
    width: 670px;
    margin: 100px auto;
}

.bmi-calculation-container {
    max-width: 1440px;
    margin: 0 auto;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 52px;
    padding-bottom: 50px;
}

.bmi-chart table {
    border-collapse: collapse;
}

.bmi-calculation {
    width: 577px;
}

.bmi-chart th {
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    padding: 15px 110px 15px 18px;
}

.bmi-chart td {
    color: var(--tertiary-color);
    font-size: 0.9rem;
    font-weight: 400;
    padding: 15px 28px 15px 18px;
}

.bmi-chart td,
.bmi-chart th {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.bmi-chart caption,
.bmi-calculation-title {
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    font-weight: 900;
    text-align: left;
    margin-bottom: 52px;
}

.bmi-calculation-title {
    margin-bottom: 14px;
}

.bmi-calculation-description {
    color: var(--tertiary-color);
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 34px;

}

#height,
#Weight,
#age,
#sex,
#activity {
    width: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: var(--tertiary-color);
    font-size: 1rem;
    font-weight: 400;
    padding: 12px 40px 12px 20px;
    height: 48px;
}

#height,
#Weight,
#age {
    color: white;
}

#sex,
#activity {
    cursor: pointer;
    outline: none;
}

#sex option,
#activity option {
    background-color: white;
    color: black;

}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;

}

.form-container .form-item:nth-child(5) {
    grid-column: span 2;
    margin-bottom: 38px;
}

.bmi-calculation input::placeholder {
    color: var(--tertiary-color);
}

.custom-select-container {
    display: flex;
    position: relative;
}

.custom-select-container i {
    position: absolute;
    color: var(--tertiary-color);
}

.custom-select-container #first {
    right: 14%;
    top: 35%;
}

.custom-select-container #second {
    right: 7%;
    top: 35%;
}

/* Team section */
#team,
#service {
    max-width: 1060px;
    margin: 0px auto;
}

.team-title-description,
.service-title-description {
    width: 672px;
    margin: 80px auto;
    text-align: center;
}

.team-content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 1.1rem;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 15px 20px 20px;
}

.team-content {
    width: 320px;
    height: 270px;
    position: relative;
}

.team-content img {
    width: 100%;
    height: 100%;
    border-radius: 1.1rem;
}

.trainer-name {
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 700;
}

.trainer {
    color: var(--tertiary-color);
    font-size: 1rem;
}

.trainer-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* Service stles */
.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.service-card {
    width: 100%;
    background: rgb(34, 34, 34);
    padding: 20px;
    border-radius: 1rem;

}

.service-card .service-img {
    width: 100%;
    height: 60%;
    border-radius: 1rem;
}

.service-titel {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.service-description {
    color: var(--tertiary-color);
    font: 1rem;
    text-align: center;
    margin-bottom: 40px;
}

/* Footer Design */
footer {
    max-width: 1440px;
    margin-top: 100px;
    padding: 70px 190px 10px 190px;
    color: white;
    background: rgba(255, 255, 255, 0.1);
}

.footer-content {
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
}

.footer-content-1 {
    width: 443px;
}

.footer-content-1 h1 {
    color: var(--primary-color);
    font-size: 4.6rem;
    font-weight: 800px;
}

.footer-content-1 p {
    color: var(--tertiary-color);
    font-size: 0.8rem;
    margin-top: 20px;
}

.footer-content-2 h4,
.footer-content-3 h4 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--secondary-color);
}

.footer-content-2 p,
.footer-content-3 p {
    font-size: 1rem;
    color: var(--tertiary-color);
    margin-top: 30px;
}

.footer-content-2 {
    margin-left: 100px;
    margin-right: 150px;
}

footer .line {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 80px;
}

.footer-caption {
    text-align: center;
    margin-top: 36px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px
}